#### 프로그래밍이란?
  - 프로그래밍 언어를 사용하여 프로그래밍을 개발하는 것
  - 논리적인 사고를 가질 수 있다.

#### programming language?
  - 프로그래밍을 개발할 때 사용하는 도구
  - 인간이 원하는 것을 컴퓨터에게 명령할 때 사용하는 컴퓨터가 이해할 수 있는 언어

#### 파이썬?
  - 쉽다. 간결하다.
  - 라이브러리가 많다.

In [ ]:
a = 2
a

2

In [ ]:
a == 2

True

### Chapter 2. Data: Types, Values, Variables, and Names

- 변수|variable: 특정 값을 지정하는 공간
   a
- 값|value
   2
- 할당하다|assign: 변수에 값을 넣는 과정
   "2를 a에 넣었다."

   *** a는 2다. a == 2
- 자료형|type: 데이터의 형태 a 데이터의 형태? integer (int type이다.)

In [ ]:
print(a)

2

In [ ]:
a

2

In [ ]:
type(a)

int

In [ ]:
type(a==2) # bool, boolean T/F

bool

### Type
- integer|정수 : 1,2,3, .. (int)
- floating number|부동소수점: 1.0, 2.0, ..., 0.4 (float)
- string|문자열: "1", "apple" (str)
- boolean|불리언 : True/False (bool)

In [ ]:
type("1")

str

In [ ]:
type("apple")

str

In [ ]:
type(apple) #변수명, 변수를 직접 사용하는 습관

### 할당
- = 이기호를 사용한다.
- 수학에서 '양변이 같다'라는 의미로 사용되지만, 프로그래밍에서는 '할당한다'라는 의미가 추가된다.
- "오른쪽으로 값을 왼쪽에 할당한다"
- 1. 오른쪽에 있는 모든 것은 값을 가져야 한다. (초기를 해야 한다.)

In [ ]:
x = 4 # 초기화
y = x + 3

In [ ]:
x,y

(4, 7)

In [ ]:
name = 'kim'
name = 'Lee'
name = 'park'
name = 4 
# 마지막으로 선언한 값이 된다. 변수명 동일하게 사용하지 말라

### 변수명 정하기
- 나쁜 변수명: a, b, c, a1, b1, ...
- 의미있는 이름으로 선언해야 한다.
- 소문자, 대문자, 숫자, 언더바를 사용한다. 예) name, name2, my_name, Name, NAME

In [ ]:
name = 'juliette'
name1 = 'jessica'
my_name = 'laura'
# myName 카멜표기법

print(name, name1, my_name, sep=',')

juliette,jessica,laura

- 안되는 것 
  - 숫자로 시작할 수 없다. 
    예: 22 name, 22_name
  - 예약어로 선언할 수 없다.
    예: def, False, ...

In [ ]:
#if = 'KIm'
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

*조심할 것 : 특별한 용도가 있기 때문에
  - 언더바로 시작하는 변수명 :_name
  - 더블 언더바로 시작하는 변수명: __name
  - 대문자로 시작하는 변수명 : Name
  - 전체 대문자 : NAME

In [ ]:
#변수명은 대소문자를 구분한다. 
Num = 43
num = 44

In [ ]:
Num == num

False

In [ ]:
num = 'number'
Num = 'Number'

num == Num

False

In [ ]:
num != Num

True